#titulo-projeto{
    font-size: 1.4em;
    font-weight: 800;
    margin-bottom: 20px;
}
#container-projeto{
    max-width: 400px;
    min-height: 300px;
    margin: auto;
    border-radius: 20px;
    box-shadow: inset 0px 0px 8px 4px #0000000f;;
}
.conteudo-projeto{
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.678);
    backdrop-filter: blur(4px);
    line-height: 1.6em;
    font-weight: 500;
    text-align: start;
    padding: 15px;
    border-radius: 20px;
    min-height: 300px;
    opacity: 0;
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#container-projeto:hover .conteudo-projeto{
    opacity: 1;
}

#botoes{
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container-projeto:hover #botoes{
    pointer-events: auto;
}