@charset "UTF-8";

:root{
    --cor-fundo:#141414;
    --cor-principal-escuro:#000000;
    --cor-destaque:#282828;
    --cor-letra:#bfbfbf;
}
.corpo-escuro{
    background-color: var(--cor-fundo);
}
/*header*/
.navbar-escuro{
    background-color: var(--cor-principal-escuro);
}
.perfil-escuro{
    background-image: url(../img/perfil-escuro-50px.jpg);
}
.navbar-toggler-escuro{
    border: 2px solid var(--cor-letra);
}
.navbar-toggler-escuro:focus{
    box-shadow: none;
}
.toggler-icon-escuro{
    font-size: 1.5em;
    color: var(--cor-letra);
}
.link-escuro{
    color: var(--cor-letra);
    display: inline-block;
}
.link-escuro:hover{
    transition: .4s;
    border-bottom: 2px solid var(--cor-letra);
    color: var(--cor-letra);
}
.link-claro:focus{
    color: var(--cor-letra);
}
.escolher-tema-escuro:checked{
    background-color: var(--cor-fundo);
    border-color: var(--cor-destaque);
}
.icones-escuro i{
    color: var(--cor-letra);
}
/*main*/
.titulo-escuro{
    color: var(--cor-letra);
}
.paragrafo-escuro{
    color: var(--cor-letra);
}
.imagem-escuro{
    background: url(../img/img-2.svg) center center no-repeat;
    background-size: contain;
}
.paragrafo-sobre-mim-escuro p{
    color: var(--cor-letra);
}
.button-projetos-escuro{
    background-color: #000000;
    color: white;
    border: 3px solid #000000;
}
.button-cv-escuro{
    background-color: white;
    color: #000000;
    border: 3px solid #000000;
}
.sub-titulos-escuro{
    color: var(--cor-letra);
    font-size: 2.2em;
    text-decoration: underline;
}
.skills-escuro{
    background-color:var(--cor-destaque) ;
}
.titulo-projeto-escuro{
    color: var(--cor-letra);
}
.botoes-escuro button{
    background-color: var(--cor-destaque);
    color: var(--cor-letra);
    border: 2px solid var(--cor-letra);
    font-weight: 500;
    font-size: 1.1em;
    width: 130px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 15px;
    transition: .3s;
}
.botoes-escuro button:hover{
    background-color: #131313;
    width: 140px;
    padding: 15px;
}
/*footer*/
.footer-escuro{
    background-color: var(--cor-principal-escuro);
    color: var(--cor-letra);
}
.footer-escuro a:hover{
    font-size: 2.4em;
    color: var(--cor-destaque);
}

@media screen and (max-width:580px){
    .sub-titulos-escuro{
        font-size: 1.9em;
    }
}